body{
   font-family: Baskerville Old Face, Times New Roman, serif;
   background: #fcfcff;
}

ul{
  list-style-type: none;
  padding: 0;
}

#header,
footer{
  background: #e6e6fa;
}

#search{
  background: white;
  border: 1px solid #D5DBDB;
}

#search:hover{
  background: #F8F8FF;
}

a:visited{
  color: #9932CC;
}

label{
  margin: 2px;
}

h1{
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 0;
}

h4{
    margin-top: 10px;
    font-weight: bold;
}

h5{
    text-align: center;
}

h5.title{
    align-items: center;
    background:#F8F8FF;
    border-bottom: 1px solid #D5DBDB;
    display: flex;
    font-size: 25px;
    min-height: 60px;
    width: 100%;
    justify-content: center;
}

h6{
    padding: 0 0 010px;
}

h6.city{
    font-size: 19px;
    font-weight: bold;
    padding: 0;
}

h6.salary{
    font-size: 18px;
    padding: 0;
}

h6.employment{
    font-style: italic;
    font-size: 18px;
    padding: 0;
}

#logo{
    font-style: italic;
    font-size: 18px;
}

#form{

}

#sidebar{
    margin: 0px;
    padding: 0px;
    width: 100%;
}

#sidebar_button{
    border: 1px solid #C0C0C0;
}

div .card{
  height: 258px;
  margin: 30px auto;
  width: 90%;
  padding: 7px;
  border-radius: 7px;
}

p.description{
   overflow: hidden;
   text-overflow: ellipsis;
}

footer{
    height: 60px;
}

.col-12{
    padding: 20px;
}

.col-md-4{
    padding: 0;
}

option[value="Вінниця"],
option[value="Дніпро"],
option[value="Донецьк"],
option[value="Житомир"],
option[value="Запоріжжя"],
option[value="Івано-Франківськ"],
option[value="Київ"],
option[value="Кропивницький"],
option[value="Луганьск"],
option[value="Луцьк"],
option[value="Львів"],
option[value="Миколаїв"],
option[value="Одеса"],
option[value="Полтава"],
option[value="Рівне"],
option[value="Севастополь"],
option[value="Суми"],
option[value="Тернопіль"],
option[value="Ужгород"],
option[value="Харків"],
option[value="Херсон"],
option[value="Хмельницький"],
option[value="Черкаси"],
option[value="Чернівці"],
option[value="Чернігів"]
{
    font-weight: bold;
}

#id_city,
#id_salary{
  width: 100%;
}

.row{
    margin-right: -15px;
    margin-left: -15px;
}

.text-center{
    margin: auto;
}

.header-container{
    max-width: 1140px;
    margin: auto;
}

#wrapper{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
}